.cute-puns {
  background: var(--pastel-orange-bg);
}
.math-jokes {
  background: var(--weird-green-bg);
}
.computer-jokes {
  background: var(--cyan-bg);
}
.music-puns {
  background: var(--light-gold-bg);
}
