.cute-puns {
  background: var(--creamy);
}
.math-jokes {
  background: var(--creamy);
}
.computer-jokes {
  background: var(--creamy);
}
.music-puns {
  background: var(--creamy);
}
button {
  border: 2px solid var(--leafy);
  border-radius: 2px;
}
