footer,
.submit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 194px;
  width: 100%;
  background-image: url("../../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.submit-wrapper {
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}
.submit-wrapper h3 {
  font-size: 16px;
  line-height: 1.43;
  color: var(--white-txt);
  margin-bottom: 13px;
}
.submit-wrapper h4 {
  color: var(--bege-txt);
  display: flex;
  align-items: center;
}
.active-arrow {
  margin-right: 20px;
}
