footer,
.submit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  border-top: 2px solid var(--leafy);
  height: 194px;
  width: 100%;
}

.submit-wrapper {
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}
.submit-wrapper h3 {
  font-size: 16px;
  line-height: 1.43;
  margin-bottom: 13px;
}
.submit-wrapper h4 {
  display: flex;
  align-items: center;
}
.active-arrow {
  margin-right: 20px;
}
