/* General */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--creamy);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  font-family: "Open Sans", sans-serif;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  color: var(--gray);
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

/* Layout */
nav,
header,
section,
footer {
  width: 100%;
}
.arrow-link {
  display: flex;
  align-items: center;
}
/* Colors */
:root {
  --creamy: #fffffa;
  --leafy: #7dee58;
  --tomatoey: #f33636;
  --gray: #4f4f4f;
}

.arrow-link {
  align-items: center;
  color: var(--bege-txt);
}

/* Effects */
/* Media Queries */
/* Accessibility */
